# faster-whisper
AUDIO_WHISPER_MODEL_SIZE=large-v3
AUDIO_WHISPER_LANGUAGE=vi
AUDIO_WHISPER_INITIAL_PROMPT=
AUDIO_WHISPER_BEAM_SIZE=5

# PhoBERT weights
AUDIO_PHOBERT_MODEL_PATH=models
AUDIO_PORT=8001
