# =========================
# Environment & secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Go
# =========================
bin/
dist/
build/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
coverage.out
*.coverprofile

# =========================
# Python (ai-service)
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Ignore model files in ai-service
image-moderation/models/*.keras

# Ignore model files in audio-moderation
audio-moderation/models/*.json
audio-moderation/models/*.safetensors
audio-moderation/models/*.codes
audio-moderation/models/*.txt

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db
Desktop.ini
